# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Programming preparation\UdemyCorses\DataStructuresAndAlgorithms\Section 9. Trees\99. Binary Search Trees Challenge 1\binarysearchtrees\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
