# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Programming preparation\UdemyCorses\DataStructuresAndAlgorithms\Section 5. Stacks\59. Stacks Implementation Linked List\linkedstack\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
