# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Programming preparation\UdemyCorses\DataStructuresAndAlgorithms\Section 6. Queues\68. Queues Challenge\queueschallenge\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
