# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Programming preparation\UdemyCorses\DataStructuresAndAlgorithms\Section 7. Hashtables\82. Hashtables Challenge 2\hashtableschallenge2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
