# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Programming preparation\UdemyCorses\DataStructuresAndAlgorithms\Section 5. Stacks\stacksimplementation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
