# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Programming preparation\UdemyCorses\DataStructuresAndAlgorithms\Section 7. Hashtables\79. Bucket Sort\bucketsort\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
